#!/bin/sh
#
# Compilations of useful shell aliases & functions
# -----------------------------------------------------------------------------
# Bundle: Sylver's dotfiles
# Repository: https://github.com/sylver/dotfiles
# Author: Richard (Sylver) Kemp
# -----------------------------------------------------------------------------

source ~/.dotfiles/lib/helper.sh

# OVERRIDE COMMANDS
#
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias rm="rm -i"
alias diff="diff -u"
alias vi="vim"
alias s="sudo -sE"

# LS
#
# add colors for filetype recognition
if [ $OS = 'macos' ]; then 
  alias lsc="gls --color=auto"
else
  alias lsc="ls --color=auto"
fi
alias ll="lsc -l --group-directories-first"
alias la="lsc -a" # show hidden files
alias lla="ll -a" # show hidden files list
alias lx="lsc -lXB" # sort by extension
alias lk="lsc -lSr" # sort by size, biggest last
alias lc="lsc -ltcr" # sort by and show change time, most recent last
alias lu="lsc -ltur" # sort by and show access time, most recent last
alias lt="lsc -ltr" # sort by date, most recent last
alias lm="lsc -al |more" # pipe through 'more'
alias lr="lsc -lR" # recursive ls

# GIT
#
alias ga="git add"
alias gap="ga --partial"
alias gA="ga ."
alias gs="git status"
alias gL="git log --abbrev-commit --graph --decorate"
alias gl="gL --graph --pretty=format:'%C(auto)%h%C(reset) %C(bold magenta)%G?%C(reset) %C(blue)%<(15)%an%C(reset) %C(green)%<(14)%cr %C(auto)%d%C(reset) %s'"
alias gc="git commit -S"
alias gca="gc --amend --no-edit"
alias gcA="gc --amend"
alias gd="git diff"
alias gdc="gd --cached"
alias gb="git branch"
alias gba="gb -a"
alias gbd="gb -d"
alias gbD="gb -D"
alias gf="git fetch"
alias gco="git checkout"
alias gp="git push"
alias gP="git pull --rebase"
alias gr="git remote"
alias grv="gr -v"
alias gR="git reset --soft HEAD~1"
alias gRH="git reset --hard HEAD"

# SSH
#
alias ssh='ssh -A'
alias sshr='ssh -l root'

# Docker
#
alias dc='docker-compose'
alias dcu='dc up'
alias dcb='dc build'
alias dcr='dc run --rm app'
alias dcs='dc run --rm app zsh || dc run --rm app bash || dc run --rm app sh'

# Kubernetes
#
alias k='kubectl'

# FUNCTIONS
#
# Universal extract command
extract () {
  if [ -f $1 ] ; then
    case $1 in
      *.tar.bz2) tar xvjf $1 ;;
      *.tar.gz) tar xvzf $1 ;;
      *.tar.xz) tar xvJf $1 ;;
      *.bz2) bunzip2 $1 ;;
      *.rar) unrar x $1 ;;
      *.gz) gunzip $1 ;;
      *.tar) tar xvf $1 ;;
      *.tbz2) tar xvjf $1 ;;
      *.tgz) tar xvzf $1 ;;
      *.zip) unzip $1 -d ${1%%.*} ;;
      *.Z) uncompress $1 ;;
      *.7z) 7z x $1 ;;
      *.xz) unxz $1 ;;
      *.exe) cabextract $1 ;;
      *) echo "\`$1': unrecognized file compression format" ;;
    esac
  else
    echo "\`$1' is not a valid file"
  fi
}

# Universal compress command
compress() {
  if [[ -n "$1" ]]; then
    case $1 in
      *.tar ) shift && tar cf $1 $* ;;
      *.tar.bz2 ) shift && tar cjf $1 $* ;;
      *.tar.gz ) shift && tar czf $1 $* ;;
      *.tgz ) shift && tar czf $1 $* ;;
      *.zip ) shift && zip $1 $* ;;
      *.rar ) shift && rar $1 $* ;;
    esac
  else
    echo "usage: compress <foo.tar.gz> ./foo ./bar"
  fi
}

# Universal calc command
calc() {
  if which bc &>/dev/null; then
    echo "scale=3; $*" | bc -l
  else
    awk "BEGIN { print $* }"
  fi
}

# systemctl shorthand commands
if which systemctl &>/dev/null; then
  start() {
    sudo systemctl start $1.service
  }
  restart() {
    sudo systemctl restart $1.service
  }
  stop() {
    sudo systemctl stop $1.service
  }
  enable() {
    sudo systemctl enable $1.service
  }
  status() {
    sudo systemctl status $1.service
  }
  disable() {
    sudo systemctl disable $1.service
  }
fi

# easy loading of local .env file in folder/repository
loadenv() {
  export $(cat .env | grep -v -e '^#' -e '^$' | xargs)
}
