*
!.*
!.*/**
.*.lock
.Xauthority
.adobe
.atom
.babel.json
.bash_history
.bundle
.cache
.config
.docker
.fonts
.gdfuse
.gem
.gimp*
.gnome
.gnupg
.hex
.hplip
.icons
.lesshst
.local
.mix
.mozilla
.mplayer
.netrc
.node*
.npm
.pki
.psql_history
.rnd
.shutter
.ssh
.themes
.thumbnails
.Trash
.vim/*
!.vim/addons
!.vim/update.sh
.viminfo
.vscode*
.wget-hsts
.wine
.xsession-errors*
.yarnrc

