# Exclude all
**

# Explicit includes only

!lib
!lib/**
!.bin
!.bin/**
!.config
!.config/**
!.gitconfigs
!.gitconfigs/**

!.aliases
!.archey3.cfg
!.bash_profile
!.bashrc
!.dmrc
!.exports
!.gitconfig
!.profile
!.psqlrc
!.screenrc
!.vimrc
!.zsh*
!.Xmodmap
!.Xresources
!.xinitrc
!.xprofile
!.xsession
