!
! Various X resources configuration
! -----------------------------------------------------------------------------
! Bundle: Sylver's dotfiles
! Repository: https://github.com/sylver/dotfiles
! Author: Richard (Sylver) Kemp
! -----------------------------------------------------------------------------

! Xft settings
!
Xft.dpi: 240
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintlight
Xft.rgba: rgb

! Xcursor
!
Xcursor.theme: Maia-Cursor
Xcursor.size: 48

! COLOR PALETTE
!
*.foreground: #EAD49B
*.background: #1E272B
*.cursorColor: #EAD49B

*.cursor: #EAD49B
*.color0: #1E272B
*.color1: #685742
*.color2: #9D6A47
*.color3: #B36D43
*.color4: #78824B
*.color5: #D99F57
*.color6: #C9A554
*.color7: #EAD49B
*.color9: #685742
*.color10: #9D6A47
*.color11: #B36D43
*.color12: #78824B
*.color13: #D99F57
*.color14: #C9A554
*.color15: #EAD49B
*.color8: #666666

*fading: 15
*fadeColor: black
*pointerColorBackground: #2B2C2B
*pointerColorForeground: #16A085

! Xterm settings
!
XTerm*background: #6aa7a5
XTerm*foreground: #6aa7a5
XTerm*reverseVideo: on
XTerm*faceName: HackRegular:size=11:antialias=true
XTerm*selectToClipboard: true
XTerm*renderFont: true
XTerm*faceSize: 11
XTerm*pointerColor: #16A085

! URxvt
!
URxvt.internalBorder: 6
URxvt.font: xft:Hack:size=10
URxvt.letterSpace: -1
URxvt.depth: 32
URxvt.background: [100]#1E272B
URxvt*scrollBar: false
URxvt*mouseWheelScrollPage: false
URxvt*cursorBlink: true
URxvt*foreground: #EAD49B
URxvt*cursorColor: #EAD49B
URxvt*saveLines: 5000

! ROFI Configuration
!
! Enable the extended coloring options
!rofi.color-enabled: true
!!                  bg       border   separator
!rofi.color-window: #1E272B, #9D6A47, #9D6A47
!!                  bg       fg       bg-alt   hl-bg    hl-fg
!rofi.color-normal: #1E272B, #EAD49B, #1E272B, #1E272B, #78824B
!rofi.color-active: #1E272B, #EAD49B, #1E272B, #1E272B, #78824B
!rofi.color-urgent: #1E272B, #EAD49B, #1E272B, #1E272B, #78824B
!
!rofi.separator-style: solid
!rofi.sidebar-mode: false
!rofi.lines: 5
!rofi.font: Hack Regular 24
!rofi.bw: 1
!rofi.columns: 2
!rofi.padding: 5
!rofi.fixed-num-lines: true
!rofi.hide-scrollbar: true

!!                  bg       border   separator
rofi.color-window: argb:c82d303b, #7c8389, #1d1f21
!!                  bg           fg       bg-alt         hl-bg    hl-fg
rofi.color-normal: argb:3c1d1f21, #c4cbd4, argb:96404552, #4084d6, #f9f9f9
rofi.color-urgent: argb:2c1d1f21, #cc6666, argb:e54b5160, #a54242, #f9f9f9
rofi.color-active: argb:2c1d1f21, #65acff, argb:e44b5160, #4491ed, #f9f9f9
rofi.separator-style: none
rofi.width: 100
rofi.lines: 3
rofi.columns: 1
rofi.font: Noto Sans 18
rofi.dpi: 200
rofi.bw: 0
rofi.padding: 1000
rofi.eh: 2
!rofi.separator-style: solid
rofi.hide-scrollbar: true
!rofi.show-icons: true
