"*":
  "autocomplete-elixir": {}
  core:
    autoHideMenuBar: true
    closeEmptyWindows: false
    disabledPackages: [
      "whitespace"
      "react"
      "editor-stats"
      "git-plus"
      "minimap-find-and-replace"
      "minimap"
      "minimap-git-diff"
      "minimap-highlight-selected"
      "linter"
      "linter-ui-default"
      "linter-swiftc"
    ]
    excludeVcsIgnoredPaths: false
    packagesWithKeymapsDisabled: [
      "terminal-fusion"
    ]
    projectHome: "/home/sylvr/Dev"
    telemetryConsent: "limited"
    themes: [
      "pristine-ui"
      "one-dark-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Kode Mono"
    invisibles: {}
    scrollPastEnd: true
    showCursorOnSelection: false
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "f0e05d4a-419b-004b-e9de-27d54e67b7e8"
  "file-icons": {}
  "git-plus":
    general:
      _analyticsUserId: "5a1689d0-959d-40ef-ac5c-74c5a3389c01"
  linter: {}
  metrics:
    userId: "11cd3048eec43a80f8bdbae4297a0f3ed33a7941"
  minimap:
    moveCursorOnMinimapClick: true
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "one-dark-ui":
    fontSize: 14
  "one-light-ui": {}
  "platformio-ide-terminal":
    style:
      animationSpeed: 0
      theme: "one-dark"
    toggles:
      autoClose: true
  "pristine-ui":
    fontSize: 14
  "release-notes":
    viewedVersion: "0.95.0"
  "terminal-fusion":
    core:
      mapTerminalsTo: "Folder"
      workingDirectory: "Project"
    style:
      animationSpeed: 0
      fontSize: "11"
      theme: "dracula"
    toggles:
      autoClose: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
