# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# '.workspace':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

# '.platform-linux atom-text-editor, .workspace, .editor, .tree-view, .platform-linux body, .platform-linux .terminal-view':

'body,
 atom-text-editor,
 atom-workspace,
 .workspace,
 .editor,
 .tree-view':
  'ctrl-w': 'pane:close'
  'ctrl-`': 'terminal-fusion:toggle'
  'ctrl-shift-enter': 'terminal-fusion:fullscreen'
  'ctrl-shift-`': 'terminal-fusion:new'
  'ctrl-shift-x': 'terminal-fusion:close'
  'ctrl-alt-right': 'terminal-fusion:next'
  'ctrl-alt-left': 'terminal-fusion:prev'
  'ctrl-left': 'pane:show-previous-item'
  'ctrl-right': 'pane:show-next-item'
